/* Bedroom.css */

.bedroom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.bedroom-item {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.bedroom-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.bedroom-image {
    width: 370px;
    height: 370px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}